body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; 
  color: #333; 
}

.gan-container {
  width: 100%;
  text-align: center;
  background-color: #ffffff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
    margin-top: 10px !important; 
}

.back-buttonn {
   left: 50px;
      display: flex;
  justify-content: flex-start !important;
  margin-bottom: 10px;
  color: #ffffff;
  background-color: #6c757d; 
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s;
    width: 5%;
}

.back-button:hover {
  background-color: #5a6268; 
  transform: scale(1.05);
}

.title {
     margin-bottom: 5px;
text-align: center; 
font-family: Arial #7e5109; 
font-weight: bold; 
font-size: 40px; 
color:black; 
  margin-top : 10;
text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}

.custom-table {
  width: 80% !important; 
  margin: 5px auto; 
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #eaefc6; 
  border-radius: 10px; 
  overflow: hidden; 
   margin-top :0.5px !important;
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

.custom-table th {
  background-color: #7e5109 !important ; 
  color: white;
}

.custom-table tr:nth-child(even) {
  background-color: #f9f9f9; 
}

.custom-input {
  background-color: #eaefc6; /* Color de fondo */
  border: 2px solid #7e5109 ; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 5px; /* Espaciado interno reducido */
  font-size: 12px; /* Tamaño de fuente más pequeño */
  width: 300px; /* Ancho fijo */
  height: 30px; /* Altura fija */
}

.custom-input:focus {
  border-color: #d4ac0d; /* Color del borde al enfocar */
  outline: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

.pagination button {
  padding: 8px 12px;
  background-color: #7e5109;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.pagination button:disabled {
  background-color: #ccc;
  color: #777;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #5a4107;
  transform: scale(1.05);
}

.pagination span {
  font-size: 14px;
  color: #333;
}