.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../images/Login_fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
  z-index: 0;
  position: relative; 
}
.video-container {
  /* ¡LA MAGIA! Lo sacamos del flujo normal */
  position: absolute; 
  z-index: 1; /* Lo ponemos en una capa de fondo (pero encima del fondo) */
  left: 0;
  top: 0;
  width: 550px; /* Ocupará la mitad izquierda de la pantalla */
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Pegado a la izquierda */
  padding-left: -50rem;
  pointer-events: none; 
}

/* 3. El video en sí, para que llene su contenedor */
.login-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Súper importante: llena el espacio sin distorsionar */
}
.login-content {
  padding: 1rem 1.5rem;
}
.login-form {
  background: #ffffff;
  padding: 0rem;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 8px 16px #493628;
  width: 100%;
  max-width: 400px; /* Limita el ancho máximo del formulario */
  margin: 0 auto; /* Centra el formulario horizontalmente */
}
.login-gif {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}
.login-header-image {
  width: 100%;
  display: block; /* Evita espacio extra debajo de la imagen */
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.login-form h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #754b3a;
}

.form-group {
  position: relative; /* Necesario para posicionar el pseudo-elemento */
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: black;
  position: relative; /* Necesario para el pseudo-elemento */
  z-index: 1; /* Asegura que el texto esté sobre la animación */
}


.form-group input {
  width: 100%;
  padding: 0.75rem; /* Espaciado interno */
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.form-group input:hover {
  box-shadow: 0 8px 16px #AB886D;
}

.password-group .password-wrapper {
  display: flex;
  align-items: center;
}

.password-wrapper input {
  flex: 1;
}

.toggle-password {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #7e6451;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  
}

.login-button {
  width: 70%; /* Mantén el ancho reducido */
  padding: 0.75rem;
  background-color: #724639;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem auto 0; /* Centra el botón horizontalmente */
  display: block; /* Asegura que el botón se comporte como un bloque */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Transición suave */
}

.login-button:hover {
  background-color: #493628; /* Cambia el color de fondo al pasar el mouse */
  transform: scale(1.1); /* Agranda el botón un 10% */
  box-shadow: 0 8px 16px #AB886D;
}

.error-message {
  color: #dc3545;
  margin-bottom: 1rem;
  text-align: center;
}




.password-wrapper {
  display: flex;
  align-items: center;
}

.password-wrapper input {
  flex: 1;
}

.toggle-password {
  margin-left: 0.5rem;
  padding: 0.3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem; /* Tamaño del ícono */
  color: #7e6451;
}

.toggle-password:hover {
  color: #493628;
}

.back-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #7e6451;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem; /* Espaciado debajo del botón */
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.back-button:hover {
  color: #493628;
}