body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; 
  color: #333; 
}

.sector-container {
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: #ffffff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
}

.bback-button {
  display: inline-block !important;
  margin-bottom: 20px;
  color: white;
  background-color: #6c757d; 
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s;
}

.back-button:hover {
  background-color: #5a6268; 
  transform: scale(1.05);
}

.title {
text-align: center; 
font-family: Arial #7e5109; 
font-weight: bold; 
font-size: 40px; 
color:black; 
text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}

.add-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 12px 18px;
  background-color: #d4ac0d ;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.add-button:hover {
  background-color: #7e5109; 
  transform: scale(1.05);
}

.custom-table {
  width: 90%; 
  margin: 20px auto; 
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #eaefc6; 
  border-radius: 10px; 
  overflow: hidden; 
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

.custom-table th {
  background-color: #7e5109 ; 
  color: white;
}

.custom-table tr:nth-child(even) {
  background-color: #f9f9f9; 
}

button.edit-button {
  background-color: #ffc107; 
  color: black;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s;
}

button.edit-button:hover {
  background-color: #e0a800; 
  transform: scale(1.05);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #eaefc6 !important;
  padding: 20px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black; 
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
;

}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.cancel-button, .save-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.cancel-button {
  background-color: #6c757d; 
  color: white;
}

.save-button {
  background-color: #4CAF50; 
  color: white;
}
